<ion-grid>    
  <ion-row *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
    <ion-col size="6" align-self-start>
      Brand Info
    </ion-col>  
    <ion-col size="6" align-self-end>
      Brand Image
    </ion-col>        
  </ion-row>
</ion-grid>
