
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#iontabbar {
  overflow-x: scroll;
  justify-content: center;
}

.notification {
  background: red;
}


.header {
  background:rgb(214, 181, 169);
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}


.one{ 
  background-color: rgb(66, 106, 99);
}

.two{
  background-color: rgb(120, 80, 106)
}

.three{
  background-color: rgb(110, 135, 133); 
}